<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheNetNinja Angular Playlist</title>
    <link rel="stylesheet" href="content/css/styles.css" type="text/css">
    <script src="app/lib/angular.min.js"></script>
</head>

<body>
    <header ng-include src="'header.html'"></header>
    <div class="content">
        <div ng-controller="NinjaController">
            <button ng-click="order = 'name'">Order by Name</button>
            <button ng-click="order = 'belt'">Order by Belt</button>

            <input type="text" ng-model="search" placeholder="Search for a ninja" />
            <ul>
                <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available">
                    <h3>{{ ninja.name }} - {{ ninja.rate | currency: '£'}}</h3>
                    <div class="remove" ng-click="removeNinja(ninja)">X</div>
                    <span class="belt" style="background: {{ ninja.belt }};">{{ ninja.belt }} belt</span>
                </li>
            </ul>
        </div>
    </div>

    <script src="app/app.js"></script>
</body>

</html>